@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4cf31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  background-color: #fff;
  width: 26.87em; /* 429px */
  padding: 2.5em 3em;
  border-radius: 10px;
  box-shadow: 0 14px 44px rgba(86, 66, 0, 0.2);
}

.game-container {
  position: relative;
  display: grid;
  width: 100%;
  gap: 9.6px;
}

.card-container {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
